/* Font updates for all applicable elements */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  font-family: 'Raleway', sans-serif;
}
html, body {
  /* background-image: url("../images/City-Test2.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  background-color: black;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}
#map {
  float: right;
  height: 500px;
  width: 75%;
  /* border: black solid 3px;
  border-radius: 25px; */
}
#mapContainer {
  margin: 100px 0px;
  padding: 2em;
  border-radius: 20px;
  background-image: url("../images/Wood-3.jpg");
  background-size: cover;
  background-repeat: repeat;
  border: black 1.5px solid;
  box-shadow: 10px 10px 10px black;
}
a.btn.btn-outline-secondary {
  border-radius: 15px;
  border: 0px;
  color: red;
  text-shadow: 1px 1px 1px black;
}
a.btn.btn-outline-secondary.red {
  color: red;
}
a.navbar-brand {
  color: black;
  font-size: 2rem;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #00FFFF;
  font-weight: bold;
}
.font20 {
  font-size: 20px;
}
.arcGisFooter{
  color: black;
  font-weight: bold;
  height: 70px;
  background-color: white;
}
.red {
  color: red;
}
.legend {
    line-height: 20px;
    color: white;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.legendTitle {
    line-height: 30px;
    color: white;
    font-size: 32px;
}
